@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

body{
    background: white;
    font-family: 'Libre Franklin', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav{
    width: 1000px;
    margin: 30px auto;
}

.nav ul{
    list-style: none;
}
.Menu > li{
    position: relative;
display: inline-block;
background: #005883;
}
.Menu > li > a {
    display: block;
    padding: 15px 20px;
    color:white;
    text-decoration: none;
}

.Menu li a:hover{
    color: #434343;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: #005883;
    width: 120%;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.Menu li:hover .submenu{
    display: block;
}

