@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');

body{
    background: white;
    font-family: 'Libre Franklin', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}
header{
    margin: auto;
    width: 500px;
}
ul,ol {
    list-style: none;
}

.nav li a{
    background:#005883;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
}

.nav li: :hover{
    
}

.nav > li{
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 120px;
}

.nav li : hover > ul {
    display: block;
}

